.portfolio{
    display: block;
    margin: 30px;
    margin-left: 100px;
}

.app-titles{
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: -80px;
}

.top-app-titles{
    color: black;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: -80px;
   
}


@media (max-width: 540px) {
    .portfolio{
        display: none;
    }
    .portfolio-sm{
        display: block;
        margin-left: 80px;
    }
    
  }